<!--
    book page
    it extends from layout.html

    Dani van Enk, 11823526
-->

{% extends "layout.html" %}

<!-- title of the page -->
{% block title %}
    Cart
{% endblock %}

<!-- content of the page -->
{% block content %}
    <h1>Cart</h1>
    <hr>
    <div class="row">
        {% set total = namespace(value=0) %}
        {% for item in details["items"] %}
            <div class="col-sm-6">{{ item }}</div>
            <div class="col-sm-6">{{ "$%.2f"|format(item.cost()|float) }}</div>
            {% set total.value = total.value + item.cost() %}
        {% endfor %}
        <div class="col-sm-6 total">Total</div>
        <div class="col-sm-6 total">{{ "$%.2f"|format(total.value|float) }}</div>
    </div>
    <form class="needs-validation row" action="{{ url_for('pay_now') }}" method="post" novalidate>
        <div class="col-sm-12">
            <input type="hidden" name="order" value="{{ details['order'].id }}">
            <button type="submit" class="btn btn-primary">Checkout</button>
        </div>
    </form>
{% endblock %}