<!--
    book page
    it extends from layout.html

    references:
        https://jinja.palletsprojects.com/en/2.11.x/templates/

    Dani van Enk, 11823526
-->

{% extends "layout.html" %}

<!-- title of the page -->
{% block title %}
    Cart
{% endblock %}

<!-- content of the page -->
{% block content %}
    <h1>Cart</h1>
    <div class="header">
        <a href="{{ url_for('menu') }}" class="btn btn-primary"
                role="button">
            Back to menu
        </a>
    </div>
    <hr>

    <!-- show items in cart and show total -->
    <div class="row">
        {% if details %}
            {% set total = namespace(value=0) %}
            {% for item in details["items"] %}
                <div class="col-6">{{ item }}</div>
                <div class="col-6">{{ "$%.2f"|format(item.cost()|float) }}</div>
                {% set total.value = total.value + item.cost() %}
            {% endfor %}
            <div class="col-6 total">Total</div>
            <div class="col-6 total">{{ "$%.2f"|format(total.value|float) }}</div>
        {% else %}
            <p>Not yet started an order yet</p>
        {% endif %}
    </div>

    {% if details %}
        <!-- checkout -->
        <form class="needs-validation row" action="{{ url_for('pay_now') }}"
                method="post" novalidate>
            <div class="col-sm-12">
                <input type="hidden" name="order" class="cart"
                    value="{{ details['order'].id }}">
                <button type="submit" class="btn btn-primary">Checkout</button>
            </div>
        </form>
    {% endif %}
{% endblock %}