<!--
    history page
    it extends from layout.html
    
    references:
        https://jinja.palletsprojects.com/en/2.11.x/templates/

    Dani van Enk, 11823526
-->

{% extends "layout.html" %}

<!-- title of the page -->
{% block title %}
    Cart
{% endblock %}

<!-- content of the page -->
{% block content %}
    <h1>Recent Order History</h1>
    <hr>

    <!-- show all recent orders -->
    <div class="row">
        {% for order in orders %}
            <div class="card col-sm-6">
                <h4>
                    {{ order }}  
                    
                    <!-- show payed or link to cart depending on checkedout -->
                    {% if order.checkedout %}
                        (Payed)
                    {% else %}
                        <a class="btn btn-primary" role="button"
                                href="{{ url_for('shoppingcart') }}">
                            To cart
                        </a>
                    {% endif %}
                </h4>

                <!-- create date -->
                <time datetime="{{ order.created_date.strftime('%y-%m-%d') }}">
                    Created on: {{ order.created_date.strftime('%y-%m-%d') }}
                </time>
                
                <!-- order details -->
                <div class="row">
                    {% set total = namespace(value=0) %}
                    {% for item in order.order_details()["items"] %}
                        <div class="col-sm-6">{{ item }}</div>
                        <div class="col-sm-6">{{ "$%.2f"|format(item.cost()|float) }}</div>
                        {% set total.value = total.value + item.cost() %}
                    {% endfor %}
                    <div class="col-sm-6 total">Total</div>
                    <div class="col-sm-6 total">{{ "$%.2f"|format(total.value|float) }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}