<!--
    menu page
    it extends from layout.html

    references:
        https://jinja.palletsprojects.com/en/2.11.x/templates/

    Dani van Enk, 11823526
-->

{% extends "layout.html" %}

<!-- title of the page -->
{% block title %}
    Menu
{% endblock %}

<!-- content of the page -->
{% block content %}
    <h1>Menu</h1>
    <hr>
    <p class="row col-sm-12">
        This is the menu of Pinocchio's Pizza & Subs<br>
        The size are S: Small and L: Large
    </p>

    <!-- all menu types -->
    <div class="row col-sm-12">
        <p class="col-sm-12">Click one of the menu types to do a shortcut to that menu type:</p>
        <ul>
            {% for menu_type in menu_links %}
                <li>
                    <a href="#{{ menu_type | replace(' ', '-') }}">{{ menu_type.capitalize() }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- show the menu -->
    <div class="row">

        <!-- for each menu type print all it's menu items -->
        {% for menu_type, menu_list in menu.items() %}
            <div class="col-sm-12">
                <h4 id="{{ menu_type.lower() | replace(' ', '-') }}">
                    {{ menu_type }}
                </h4>

                <ul>
                    {% for menu_item in menu_list %}
                        <li class="row">
                            <div class="col-sm-6">{{ menu_item }}</div>
                            <div class="col-sm-4">
                                {{ "$%.2f"|format(menu_item.cost|float)}}
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-primary menu" role="button">
                                    Choose
                                </a>
                            </div>
                        </li>

                        <!-- choose menu item form 
                            source: https://getbootstrap.com/docs/4.1/components/forms/-->
                        <form class="needs-validation col-sm-12 card menu"
                                action="{{ url_for('shoppingcart') }}"
                                method="post" novalidate>
                            <div class="row">
                                <!-- quantity form group -->
                                <div class="form-group col-sm-12">
                                    <label for="quantity">Quantity: </label>
                                    <input type="number"
                                        class="form-control col-sm-2"
                                        name="quantity" id="quantity" min="1"
                                        required>

                                    <!-- feedback for invalid entry -->
                                    <div class="invalid-feedback">
                                        Please enter a quantity above 0.
                                    </div>
                                </div>
                                {% if "Pizza" in menu_type %}

                                    <!-- hidden item_type and item id form inputs -->
                                    <input type="hidden" name="item_type"
                                        value="Pizza">
                                    <input type="hidden" name="item_id"
                                        value="{{ menu_item.id }}">

                                    <!-- if toppings are more than 0 show
                                            the topping part of the form -->
                                    {% if menu_item.no_toppings > 0 %}

                                        <!-- topping form group -->
                                        <div class="form-group col-sm-12">
                                            <label for="topping">Topping: </label>
                                            <div class="row">
                                                
                                                <!-- for the number of toppings
                                                    possible on pizza show selections -->
                                                {% for topping in range(menu_item.no_toppings) %}
                                                    <select name="topping{{ topping }}"
                                                            class="form-control" required>
                                                        
                                                        {% for topping_type in tops %}
                                                            <option>{{ topping_type }}</option>
                                                        {% endfor %}
                                                    </select>

                                                    <!-- feedback for invalid entry -->
                                                    <div class="invalid-feedback">
                                                        Please enter your password.
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    
                                    <!-- hidden item_type and item id form inputs -->
                                    <input type="hidden" name="item_type"
                                        value="NonPizza">
                                    <input type="hidden" name="item_id"
                                        value="{{ menu_item.id }}">

                                    <!-- extra cheese from group -->
                                    <div class="form-group form-check col-sm-12">
                                        <input class="form-check-input"
                                            type="checkbox" value="cheese"
                                            id="cheese" name="cheese">
                                        <label class="form-check-label" for="cheese">
                                            Extra Cheese
                                        </label>
                                    </div>
                                {% endif %}
                                <!-- register via this link -->
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary">
                                        Add to Cart
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}