<!--
    register page
    uses the message parameter for feedback
    it extends from layout.html

    Dani van Enk, 11823526
-->

{% extends "layout.html" %}

<!-- title of the page -->
{% block title %}
    Register
{% endblock %}

<!-- content of the page -->
{% block content %}
    <h1>Register here</h1>
    <hr>

    <!-- feedback for if the passwords arent the same -->
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <!-- register form, enter username/password and retype password -->
    <form class="needs-validation" action="{{ url_for('register') }}" method="post" novalidate>
        <div class="form-group">
            <label for="register_username">Username: </label>
            <input type="username" class="form-control" name="register_username" id="register_username" placeholder="Username" required>
            <div class="invalid-feedback">
                Please enter a username.
            </div>
        </div>
        <div class="form-group">
            <label for="register_password">Password</label>
            <input type="password" name="register_password" class="form-control" id="register_password" placeholder="Password" required>
            <div class="invalid-feedback">
                Please enter your password.
            </div>
        </div>
        <div class="form-group">
            <label for="register_rpassword">Retype Password</label>
            <input type="password" name="register_rpassword" class="form-control" id="register_rpassword" placeholder="Retype Password" required>
            <div class="invalid-feedback">
                Please enter your again password.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}